---
import LikeButton from "../React/LikeButton.tsx";
---

<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-12">
      <div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
        <div class="flex space-x-6 sm:space-x-8">
          {
            [
              {
                href: "https://github.com/KingTroy125",
                icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8"><path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path></svg>',
                label: "GitHub",
              },
              {
                href: "https://www.behance.net/kingtroy2",
                icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8"><path d="M7.443 5.35C8.08382 5.35 8.67491 5.40032 9.21543 5.5515C9.75595 5.65207 10.2461 5.85321 10.6356 6.10543C11.0251 6.35765 11.3641 6.71116 11.5973 7.11635C11.8305 7.52154 11.9526 8.02805 11.9526 8.63589C11.9526 9.29527 11.7799 9.85362 11.4334 10.2588C11.0873 10.664 10.5905 11.0189 9.93365 11.2233C10.8313 11.3786 11.5123 11.7485 11.9876 12.3316C12.463 12.9147 12.6861 13.6322 12.6861 14.4891C12.6861 15.1485 12.5473 15.7169 12.2686 16.2031C11.9899 16.6893 11.6166 17.0843 11.1394 17.3955C10.6623 17.7067 10.1135 17.9267 9.49321 18.0698C8.87295 18.213 8.21939 18.2846 7.53365 18.2846H0V5.35H7.443ZM6.98773 10.6132C7.57547 10.6132 8.06365 10.4765 8.44443 10.2043C8.8252 9.93201 9.01437 9.46421 9.01437 8.80482C9.01437 8.43273 8.94661 8.12955 8.81109 7.89527C8.67558 7.66099 8.49447 7.48055 8.26776 7.35395C8.04105 7.22736 7.77875 7.14025 7.48085 7.09262C7.18296 7.04499 6.86891 7.02117 6.53871 7.02117H3.02457V10.6132H6.98773ZM7.18686 16.6147C7.54968 16.6147 7.89384 16.5848 8.21791 16.5251C8.54198 16.4654 8.82571 16.3593 9.06909 16.2031C9.31246 16.0469 9.51166 15.8306 9.66084 15.5503C9.81002 15.27 9.88381 14.9075 9.88381 14.4629C9.88381 13.6322 9.64043 13.0325 9.1549 12.6642C8.66937 12.2959 8.01196 12.1117 7.18686 12.1117H3.02457V16.6147H7.18686ZM16.9034 16.6386C17.4135 17.1248 18.1399 17.3679 19.0839 17.3679C19.7697 17.3679 20.3574 17.1852 20.8516 16.8197C21.3447 16.4547 21.6576 16.0612 21.7902 15.6391H24C23.7554 16.7008 23.2101 17.5315 22.3641 18.1311C21.518 18.7307 20.4789 19.0305 19.2461 19.0305C18.3843 19.0305 17.6059 18.9015 16.9114 18.6447C16.2169 18.3879 15.631 18.0235 15.1536 17.5516C14.6774 17.0796 14.3095 16.5146 14.0533 15.8557C13.7971 15.1968 13.6684 14.4629 13.6684 13.6561C13.6684 12.8838 13.7971 12.1658 14.0533 11.5069C14.3095 10.848 14.6774 10.2754 15.1536 9.78873C15.631 9.30208 16.2169 8.92144 16.9114 8.64673C17.6059 8.37202 18.3843 8.23601 19.2461 8.23601C20.1919 8.23601 21.0216 8.40036 21.7351 8.72984C22.4486 9.05931 23.0375 9.50025 23.5017 10.0532C23.966 10.6061 24.3019 11.2471 24.508 11.9762C24.7142 12.7052 24.7941 13.4866 24.7472 14.3204H16.1171C16.1501 15.3821 16.3933 16.1524 16.9034 16.6386ZM20.7896 10.5904C20.3659 10.1561 19.6894 9.93897 18.7601 9.93897C18.1905 9.93897 17.7105 10.0353 17.3201 10.2292C16.9298 10.423 16.6169 10.6574 16.3814 10.9346C16.147 11.2117 15.9829 11.5069 15.889 11.8204C15.7951 12.1337 15.7392 12.4232 15.7205 12.6881H21.6339C21.5503 11.7353 21.2122 11.0247 20.7896 10.5904ZM15.7883 6.05907H21.4605V7.42583H15.7883V6.05907Z"></path></svg>',
                label: "Behance",
              },
              {
                href: "https://www.linkedin.com/in/tristan-hendricks-89a789320/",
                icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8"><path d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z"></path></svg>',
                label: "LinkedIn",
              },
              {
                href: "https://mail.google.com/mail/?view=cm&fs=1&to=tristanhendricks19@gmail.com&su=Hey%20Tristan!",
                icon: '<svg xmlns="http://www.w3.org/2000/svg" width="2.1em" height="2.1em" viewBox="0 0 24 24"><path fill="currentColor" d="m18.73 5.41l-1.28 1L12 10.46L6.55 6.37l-1.28-1A2 2 0 0 0 2 7.05v11.59A1.36 1.36 0 0 0 3.36 20h3.19v-7.72L12 16.37l5.45-4.09V20h3.19A1.36 1.36 0 0 0 22 18.64V7.05a2 2 0 0 0-3.27-1.64"/></svg>',
                label: "Email",
              },
            ].map((link) => (
              <a
                href={link.href}
                target="_blank"
                class="flex flex-col items-center group"
                aria-label={link.label}
              >
                <div class="text-[var(--white-icon)] hover:text-[var(--white)] transition duration-300 ease-in-out">
                  <div set:html={link.icon} />
                </div>
              </a>
            ))
          }
        </div>
        <LikeButton client:load />
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <iframe
            style="border-radius:12px border:0;"
            src="https://open.spotify.com/embed/album/3OxfaVgvTxUTy7276t7SPU?utm_source=generator&theme=0"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"
            aria-label="Spotify Embed"></iframe>
        </div>
      </div>
    </div>

    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >Copyright © 2025 <a href="https://github.com/Gothsec"
            >Tristan Hendricks</a
          >. All rights reserved.</span
        >
      </p>
    </div>
  </div>
</footer>
